
/*
.list-group-item {
	cursor: pointer;
}

.list-group-item:hover {
	background-color: #eee;
}

.search-bar {
	margin: 20px;
	text-align: center;
}

.search-bar input {
	width: 75%;
}

.video-details .details {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.video-item img {
	max-width: 64px;
}

.video-title {
	font-weight: bold;
	margin-top: 8px;
	margin-left: 4px;
	margin-right: 4px;
}

.video-body {
	margin-top: 8px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 8px;
}*/
